@font-face {
  font-family: "thash";
  src: url("../fonts/papu.ttf");
}

@font-face {
  font-family: "thash1";
  src: url("../fonts/Hawkeye.otf");
}
@font-face {
  font-family: "thash2";
  src: url("../fonts/Vakansy.otf");
}

h1 {
  font-family: 'thash';
  font-size: 70px;
}

.subtitle {
  position: relative;
  font-family: 'thash';
  font-size: 30px;
  bottom: 50px;

}

body {
  margin: 0;
  text-align: center;
  background-color: #6B4984;
}
.innertext
{
  font-family: 'thash2';
  font-size: 20px;
}

.middle {
  font-family: 'thash1';
  font-size: 25px;
}
.contact-me
{
  font-size: 25px;
}
.contactpara
{
  font-family: 'thash2';
  font-size: 20px;
}

.top {
  position: relative;
  padding-top:  100px;
}

.moon {
margin-right: 200px;
}

.star2 {
  position: relative;
  max-width: 150px;
  top: 385px;
 right: 300px;
}

.star1 {
  position: relative;
  max-width: 150px;
  left: 600px;
  bottom: 700px;
}

.profilepic {
  max-width: 200px;
}

.skill1 {
  max-width: 200px;
}

.skill2 {
  max-width: 200px;
}
