@font-face {
    font-family: "thash";
    src: url("/font/papu.ttf");
}
  h1
  {
    margin-top:0;
  }
  body
  {
    margin: 0;
    text-align: center;
    font-family: 'thash';
    font-size: 30px;
  }
  .top{
    background-color:  #6B4984;
  position: relative;
  padding-top: 100px;
  }
  .moon{
    margin-top:0;
  }
  .star2
  {
    position: absolute;
    bottom:425px;
    left:400px;
    max-width:150px;
    }
  .star1
  {
    position: absolute;
    right: 380px;
    top:25px;
    max-width:150px;
  }
