@font-face {
  font-family: "thash";
  src: url("../fonts/papu.ttf");
}

@font-face {
  font-family: "thash1";
  src: url("../fonts/play.ttf");
}
@font-face {
  font-family: "thash2";
  src: url("../fonts/Vakansy.otf");
}
body {
  margin: 0;
  text-align: center;
  background-color: #c9a0dc;
}
hr{
  border-style: dotted none none none;
  width: 5%;
  border-width: 10px;
  color:  #6B4984;
  }
.top {
  position: relative;
  background-color: #6B4984;
  height:850px;
}
.name{
  position: absolute;
  font-family: 'thash';
  font-size: 5vw;
  right: 30%;
  top: 18%;
  left: 30%;
}

.subtitle {
  position: absolute;
  font-family: 'thash';
  font-size: 2.8vw;
  margin-bottom: 0px;
  margin-top: 0px;
  left: 30%;
  right: 40%;
  top: 28%;
}
.moon {
  position: absolute;
  width:30%;
  bottom: 0px;
  top: 40%;
  right: 60%;
  left: 35%;
}
.star2 {
  position: absolute;
  width: 10%;
  left: 30%;
  right: 0px;
  bottom: 40%;
  top: 40%;
}

.star1 {
  position: absolute;
  width: 10%;
  right: 0px;
  left: 69%;
  bottom: 10%;
  top: 15%;
}
.profile
{
  margin-bottom: 100px;
  font-family: 'thash1';
  font-size: 1.75vw;
}
.skills{
  margin-bottom: 100px;
  margin-top: 100px;
  font-family: 'thash1';
  font-size: 1.75vw;
}
.innertext
{
  font-family: 'thash2';
  font-size: 1.3vw;
}
.contact-me
{
  background-color:  #6B4984;
  padding-top: 20px;
  margin-top: 100px;
  font-size: 1.5vw;
  font-family: 'thash1';
}
.contactpara
{
  font-family: 'thash2';
  font-size: 1.3vw;
}

.profilepic {
  width: 14%;
  margin-top: 150px;
}

.skill1 {
  width: 14%;
}

.skill2 {
  width: 14%;
}
.bottom
{
  background-color:  #6B4984;
}
.copyright
{
    margin-bottom: 0px;
    padding-bottom: 20px;
}

